table.fixed {table-layout:fixed;  word-break:break-all;}
table.fixed td {overflow:hidden;}
tr.tr1 td:nth-of-type(1) {width:300px; height: 100px}
tr.tr2 td:nth-of-type(1) {width:200px; height: 50px}
tr.tr3 td:nth-of-type(1) {width: 150px; height: 200px}
tr.tr3 td:nth-of-type(2) {width:50px; height: 200px}


table.fixed {border: 2px solid black; padding: 5px; border-spacing: 3px;}
th, td {border: 2px solid black;}